{% extends 'bootstrap-template.html.twig' %}

{% block stylesheets %}
<link rel = "stylesheet" href = "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" >
<style >
      #custom-handle {
      width: 3em;
      height: 1.6em;
      top: 50%;
      margin-top: -.8em;
      text-align: center;
      line-height: 1.6em;
      }
  </style >
{% endblock %}

{% block content %}
<h1>Input parameters:</h1>
<form >
<fieldset style = "border:1px dotted grey; padding: 1em; border-radius: 5px" >
  <div class = "form-group" >
    <label for = "startDate" >Start timestamp</label >
    <input type = "text" class = "form-control" id = "startDate" >
  <div class = "alert alert-danger" id = "startDateError" style = "display: none;" >Timestamp format is incorrect. Please use
                                                                   'YYYY-MM-DD
                                                         HH:mm:ss' </div >
  </div >

  <div class = "form-group" >
    <label >+ seconds</label >
    <div id = "slider" >
      <div id = "custom-handle" class = "ui-slider-handle" ></div >
    </div >
  </div >

   <div class = "form-group" >
    <label for = "endDate" >End timestamp</label >
    <input type = "text" class = "form-control" id = "endDate" disabled >
  </div >
</fieldset >
</form >
<div style = "text-align: right" >
   <button type = "button" class = "btn btn-primary" id = "submitButton" >Submit</button >
</div >
<h2>Result:</h2>
<textarea id="result" style="width: 100%; height: 10em;"></textarea>
{% endblock %}

{% block app %}
<script src = "https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script >
<script src = "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" ></script >

<script >
let dateFormat = "YYYY-MM-DD HH:mm:ss";

$(function () {
    // setup initial startDate timestamp value
    let startTimestamp = moment().subtract(5, 'minutes').format(dateFormat);
    $('#startDate').val(startTimestamp);

    // create seconds slider (JqueryUI)
    let handle = $("#custom-handle");
    $("#slider").slider({
        range: "max",
        min: 1,
        max: 3600,
        value: 1800,
        create: function () {
            handle.text($(this).slider("value"));
        },
        slide: function (event, ui) {
            handle.text(ui.value);

            // calculate endTimestamp and update input element value
            $('#endDate').val(calculateEndTimestamp(ui.value));
        }
    });

    // update endTimeStamp value on load
    let sliderValue = $("#slider").slider('value');
    $('#endDate').val(calculateEndTimestamp(sliderValue));

    // setup startDateValidation
    $('#startDate').on('change', function (e) {
        let isStartDateValid = moment(e.target.value, dateFormat, true).isValid();

        // if startDate is invalid, show error and disable submit button
        if (!isStartDateValid) {
            $('#startDateError').show();
            $("#submitButton").prop('disabled', true);

        } else {
            $('#startDateError').hide();
            $('#endDate').val(calculateEndTimestamp(sliderValue));
            $("#submitButton").prop('disabled', false);
        }
        ;
    })

    $('#submitButton').on('click', function (e) {
        $.ajax({
            method: "GET",
            url: "/data",
            data: {start: $('#startDate').val(), end: $('#endDate').val()}
        }).done(function (response) {
            console.log(response);
            ($("#result").val(JSON.stringify(response.result)));
        });
    })
});

function calculateEndTimestamp(seconds) {
    return moment($('#startDate').val(), dateFormat).add(seconds, 'seconds').format(dateFormat);
}
 </script >
{% endblock %}