<!DOCTYPE html>
<html lang = "en" >
  <head >
    <meta charset = "utf-8" >
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge" >
    <meta name = "viewport" content = "width=device-width, initial-scale=1" >
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title >Bootstrap 101 Template</title >

    <!-- Bootstrap -->
    <link href = "https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel = "stylesheet" >

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src = "https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" ></script >
      <script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" ></script >
    <![endif]-->

    {% block stylesheets %}{% endblock %}

  </head >
  <body >
       <nav class = "navbar navbar-inverse" id="navigation" >
      <div class = "container" >
        <div class = "navbar-header" >
          <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#navbar" aria-expanded = "false" aria-controls = "navbar" >
            <span class = "sr-only" >Toggle navigation</span >
            <span class = "icon-bar" ></span >
            <span class = "icon-bar" ></span >
            <span class = "icon-bar" ></span >
          </button >
          <a class = "navbar-brand" href = "#" >PHP19BootCamp</a >
        </div >
        <div id = "navbar" class = "collapse navbar-collapse" >
          <ul class = "nav navbar-nav" >
            <li ><a href = "/home" >Home</a ></li >
            <li ><a href = "/analytics" >Analytics</a ></li >
          </ul >
        </div ><!--/.nav-collapse -->
      </div >
    </nav >

<div class = "container" >
    {% block content %}{% endblock %}
</div >


       <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" ></script >
       <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" ></script >

    {% block app %}{% endblock %}
  </body >
</html >